body {
  background: #fcfcfa;
  margin:0;
  padding:0;
  font: 17px/28px Georgia;
  font-family: Lato, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
}


/* FORM */
#col-left {
  height:100%;
  position:relative;
}
#col-left h1, #col-left h5{
  text-align:center;
}

#form-main {
  margin-top:50px;
}

#download {
  font-size: 1.3em;
  position: absolute;
  bottom: 40px;
}


/* DASH */
#dash {
  display:none;
  position: absolute;
  bottom: 0px;
  background: rgba(252, 252, 250, 0.86);
  width: 100%;
  padding-bottom: 33px;
}

.stat {
  text-align: center;
}

#total-feature-count {
  font-size: 1.4em;
}


/* MAP */
#map {
  height:100%;
  cursor:pointer;
}
.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #7F8C8D;
}

#states .active {
  fill:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-hidden {
  display: none;
}

.county {
  display: block;
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: all !important;
}

.no-county {
  display:none;
}

/* STYLE MAP */
/* blue */
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

/* red */
.b0-9 { fill:rgb(255,245,235); }
.b1-9 { fill:rgb(254,230,206); }
.b2-9 { fill:rgb(253,208,162); }
.b3-9 { fill:rgb(253,174,107); }
.b4-9 { fill:rgb(253,141,60); }
.b5-9 { fill:rgb(241,105,19); }
.b6-9 { fill:rgb(217,72,1); }
.b7-9 { fill:rgb(166,54,3); }
.b8-9 { fill:rgb(127,39,4); }